{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Inception表结构评审系统{% endblock %}

{% block content %}

<div class="main-content">
<div class="breadcrumbs" id="breadcrumbs">        
    <script type="text/javascript">
try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>

    <ul class="breadcrumb">
        <li>
        <i class="icon-home home-icon"></i>
        <a href="/index">Home</a>
        </li>
        <li>
        <a>所有用户操作日志</a>
        </li>
    </ul><!-- .breadcrumb -->

</div>

<div class="page-content">
    <div class="row">
        <div class="col-xs-12">

<div class="page-content">
<div class="page-header">
    <h1>所有用户操作日志<small></h1>
</div>


<div class="row">
    <div class="col-md-9">
        <div class="panel panel-primary">
{#            <div class="panel-heading">表头</div>#}
            <div class="panel-body">
            <table border="0">
                <tr class="table-header"><td class="col-lg-1">用户名</td><td class="col-lg-2">操作时间</td><td class="col-lg-2">备份库信息</td><td class="col-lg-1">操作序列号</td><td class="col-lg-3">SQL详情</td></tr>
                {% for line in html_table_content %}
                        <tr>  <td> {{ line[0] }} </td><td>{{ line[1] }}</td> <td>{{ line[2] }}</td> <td><a href="operation_detail?bakdb={{ line[2] }}&opid={{ line[3] }}" title="查看此次操作详情">{{ line[3] }}</a></td> <td>{{ line[4] }}</td> </tr>
                {% endfor %}
{#                {{ html_table_content[2][44] }}#}
            </table>
</div>
</div>
</div>




{% if pagination %}
<tr>
    <div class="dataTables_paginate paging_bootstrap">
    <div class="panel-footer"></div>
        {{ macros.pagination_widget(pagination, '.servers') }}</div>
</tr>
{% endif %}
</div>
</div>                                                                                                                                                                                                                                                                                                                                                                                                                       </div>                                                                                                                                                                         </div>


{% endblock %}
