{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Inception表结构评审系统{% endblock %}

{% block content %}

<div class="main-content">
<div class="breadcrumbs" id="breadcrumbs">        
    <script type="text/javascript">
try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>

    <ul class="breadcrumb">
        <li>
        <i class="icon-home home-icon"></i>
        <a href="/index">Home</a>
        </li>
        <li>
        <a>Inception统计</a>
        </li>
    </ul><!-- .breadcrumb -->

</div>

<div class="page-content">
    <div class="row">
        <div class="col-xs-12">

<div class="page-content">
<div class="page-header">
    <h1>Inception统计<small></h1>
</div>


<div class="row">
    <div class="col-md-9">
        <div class="panel panel-primary">
{#            <div class="panel-heading">表头</div>#}
            <div class="panel-body">
            <table id="table_x" border="0">
                <tr  align="center" class="table-header"><td class="col-lg-3">date</td><td class="col-lg-1">select</td><td>dml</td><td>alter</td>
                    <td>index</td><td>column</td><td>c/d/t table</td><td>createdb</td></tr>
                {% for line in html_table_content %}
                        <tr align="center"> <td>{{ line[0] }}</td><td>{{ line[1] }}</td><td>{{ line[2] }}</td><td>{{ line[3] }}</td><td>{{ line[4] }}</td><td>{{ line[5] }}</td><td>{{ line[6] }}</td><td>{{ line[7] }}</td></tr>
{#                            <tr> <td>{{ line[0] }}</td><td>{{ line[1] }}</td><td>{{ line[2] }}</td><td>{{ line[3] }}</td><td>{{ line[4] }}</td><td>{{ line[5] }}</td><td>{{ line[6] }}</td><td>{{ line[7] }}</td><td>{{ line[8] }}</td><td>{{ line[9] }}</td><td>{{ line[10] }}</td><td>{{ line[11] }}</td><td>{{ line[12] }}</td><td>{{ line[13] }}</td><td>{{ line[14] }}</td><td>{{ line[15] }}</td><td>{{ line[16] }}</td><td>{{ line[17] }}</td><td>{{ line[18] }}</td> </tr>#}
                {% endfor %}
{#                {{ html_table_content[2][44] }}#}
            </table>
</div>
</div>
</div>




{% if pagination %}
<tr>
    <div class="dataTables_paginate paging_bootstrap">
    <div class="panel-footer"></div>
        {{ macros.pagination_widget(pagination, '.servers') }}</div>
</tr>
{% endif %}
</div>
</div>                                                                                                                                                                                                                                                                                                                                                                                                                       </div>                                                                                                                                                                         </div>

<script type="text/javascript">
window.onload = function color(){
    var table = document.getElementById("table_x");
    var rows = table.getElementsByTagName("tr");
    for(var i=0;i<rows.length;i++){
        if (i==0){}
        else {
            if (i % 2 == 0) {
                rows[i].style.backgroundColor = "#EAF2D3"
            }
            else {
                rows[i].style.backgroundColor = "White";
            }
        }
    }
}
</script>

{% endblock %}
